# Environment / secrets
.env
backend/.env

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyc

# Virtual environments
venv/
env/
.venv/

# Django
db.sqlite3
media/
staticfiles/

# Node
node_modules/
frontend/node_modules/
frontend/dist/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
# Celery Beat
celerybeat-schedule*
backend/celerybeat-schedule*